.square {
   height: 90px;
   width: 90px;
   font-size: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.2);
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 8px;
   transition: all 0.3s ease;
}

/* X and O color styling */
.square:empty {
   color: teal;
}

.square:not(:empty) {
   color: coral;
}

.square:hover {
   background-color: rgba(255, 255, 255, 0.4);
   box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
   transform: scale(1.1);
}

.dark .square {
   background-color: #444;
   color: #fff;
}